* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: center;
  background-color: rgb(102, 94, 74);
  padding: 4px 10px;
}

.app {
  background-image: url(../src/images/mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: #eee;
  border-radius: 5px;
}

.taskCardTitleInputArea {
  width: 30%;
  cursor: pointer;
  margin-bottom: 10px;
}

.taskCardTitleInput {
  width: 120px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(75, 75, 75);
  cursor: pointer;
}

.taskTitle {
  margin-left: 12px;
}

.taskTrashButton {
  margin-right: 9px;
  border: none;
  color: crimson;
  cursor: pointer;
}

.taskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;
}

.addTaskCardButton {
  padding: 10px 18px;
  border-radius: 9999px;
  font-size: 30px;
  background-color: orange;
  box-shadow: 3px 3px 8px 1px black;
  cursor: pointer;
  transition: all 0.3s;
}
.addTaskCardButton:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.taskCardDeleteButton {
  border: none;
  color: crimson;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.taskCardTitleAndTaskCardDeleteButton {
  display: flex;
  justify-content: space-between;
}
